//*SIGNUP VARIABLES
$black: #000000;
$blue-ribbon: #0C134F;
$dodger-blue: #25a3ff;
$mine-shaft: #333333;
$scorpion: #565656;
$torch-red: #ff0033;
$white: #ffffff;

//*HOME VARIABLES
$colorText: #FFF;
$colorBackground: #0C134F;
$colorAccent: #2979FF;
$colorHover: #1a73e8;
$fontFamily: 'Poppins', sans-serif;

//*MID SECTION VARIABLES
$midbg: #5C469C;
$midbgdark: #0C134F;
$midbglight: #0C134F70;
$midfont: #FFFFFF;

