.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  background: #0C134F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
@media (max-width: 768px) {
  .navbar {
    padding: 2rem 1rem;
    position: relative;
  }
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #0C134F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }
}

.navbar__item {
  margin-left: 2rem;
}
@media (max-width: 768px) {
  .navbar__item {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }
}

.navBarLink {
  text-decoration: none;
  color: #FFF;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
.navBarLink:hover {
  color: #1a73e8;
}
@media (max-width: 768px) {
  .navBarLink {
    font-size: 1.5rem;
  }
}

.navbar__toggle {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #FFF;
}
@media (max-width: 768px) {
  .navbar__toggle {
    display: block;
  }
}

.navbar__menu--open {
  display: flex;
}

.expanded-padding {
  padding-top: 8rem; /* Adjust this value according to the height of your navbar */
}

.footer {
  background: #0C134F;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer__links li {
  margin-bottom: 0.5rem;
}
.footer__links li a {
  text-decoration: none;
  color: #FFF;
  transition: color 0.3s ease;
}
.footer__links li a:hover {
  color: #1a73e8;
}
.footer__contact {
  display: flex;
  align-items: center;
}
.footer__contact span {
  margin-right: 1rem;
  font-size: 1rem;
  color: #FFF;
}
.footer__contact .footer__button {
  display: inline-block;
  background: #2979FF;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background 0.3s ease;
}
.footer__contact .footer__button:hover {
  background: #005cf5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 1rem auto;
  text-align: center;
  font-family: arial;
  padding: 5rem;
  background-color: #FFFFFF;
}
.card h1 {
  color: black;
}
.card .title {
  color: grey;
  font-size: 18px;
}
.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.card button:hover, .card a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #FFF;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}/*# sourceMappingURL=profile.css.map */